.adpanels {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 1.5rem 0;
    background-color: rgb(247, 245, 245);
}

.adpanels::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit (por ejemplo, Chrome y Safari) */
}

.card {
    position: relative;
    flex: 0 0 309px;
    height: 450px;
    overflow: hidden;
    margin-left: 1.5rem;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.08);
    overflow: hidden; /* Añadimos esta propiedad para evitar que el contenido se desborde durante el zoom */
    transition: transform 0.3s; /* Agregamos una transición suave para el zoom */

}

.card:hover {
    transform: scale(1.1); /* Cambia el tamaño al 110% en el hover */
}

.image {
    width: 100%;
}

.body {
    position: absolute;
    top: 0;
    padding: 28px;
    font-family: "San Francisco";
    font-weight: 600;
}

.tittle {
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.link {
    font-size: 1.3rem;
}

.text {
    font-size: 1.1rem;
    font-weight: 300;
}