@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Estilos de la barra lateral */
.sidebar {
  color: #fff;
}

/* Estilos del logotipo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  font-size: 2rem;
}

/* Estilos del icono del logotipo */
.logo-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 50%;
  background: rgba(28, 17, 41, 0.88);
}

/* Estilos de la barra del menú */
.menu-bar {
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}

/* Estilos del botón de alternar tema */
.toggle-theme-btn {
  position: absolute;
  bottom: 30px;
  height: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

/* Estilos del botón de alternar */
.toggle {
  margin-left: 15px;
}
