.solicitudes-container {

    padding: 1rem;

    h1{
        text-align: center;
        margin-bottom: 1rem;
    }
  
    .panel-container{

        display: flex;
        justify-content: space-between;  // Esto distribuirá los elementos a lo largo del contenedor
        align-items: center;


        .options-container{
            padding: .5rem;
            h2{
                margin-bottom: .5rem;
            }
        }
        .update-container{
            padding: .5rem;
            h2{
                margin-bottom: .5rem;
            }
        }

    }
}